.body {
  display: block;
  font: sans-serif;
}
.header {
  width: 70%;
  margin: auto;
  padding-top: .5rem 1rem;
  text-align: justify;
  vertical-align: top;
}

.welcome {
  text-align: right;
  font-weight: bold;
  padding: .5rem 1rem;
  margin-right: 12%;
}

b {
  font-weight: bold;
}

a {
  text-decoration: none;

}
a:visited{
  color: blue;
}

.logo-grid {
  max-width: 80%;
  height:750px;
  background: #fff;
  margin-left:10%;
  margin-right: 10%;


}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  line-height: 175px;

}

.logo-grid img {
  height: 125px;
  float: left;
  margin:auto;
  vertical-align: middle;
  padding: 15px;

}

hr {
  width: 65%;


}
